.projetos {
    margin-top: 330px;
    background-color: $corPrincipalLight;

    .sub-portifolio {
       padding-top: 120px;
    }

    .projetos-desenvolvidos{
        width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;

        .projetos-card {
            width: 250px;
            flex-grow: 1;
            position: relative;
            background-color: black;
            border: 1px solid $corPrincipalDark;
            border-radius: 15px;
        
            .projeto-img {
                display: block;
                position: relative; 
                width: 100%;
                height: 100%;
                transition: .5s;
                border-radius: 15px;
            }

            .btn-projeto {
                display: block;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%);
                display: none;
                
                &:hover {
                    background-color: $corPrincipalLight;
                    color: $corPrincipalTexto;
                }
            }
        }
    } 
}

.projeto-dialog {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: #00000059;

    .dialog-infos {
        width: 70%;
        height: 70%;
        background-color: #ffffff;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


































.contato {
    height: 1000px;
}