/*Importacoes*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
/*Importacoes*/
/*variaveis*/
/*variaveis*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  border: none;
  color: #3d3d3d;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  padding: 5px;
  background-color: #ffffff;
}

.ativar-menu {
  height: 245px !important;
  transition: 0.5s;
}

.btn-padrao {
  padding: 5px 10px;
  border: 1px solid #3d3d3d;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-padrao:hover {
  background-color: #3d3d3d;
  color: #ffffff;
}

.subtitulo {
  text-align: center;
  font-size: 36px;
  padding-top: 60px;
  background-color: #ffffff;
}

.subtitulo-h3 {
  text-align: center;
  font-size: 16px;
  padding: 20px 0 40px 0;
  font-weight: normal;
  background-color: #ffffff;
}

header {
  position: fixed;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  z-index: 5;
}
header .header-logo img {
  display: block;
  width: 100px;
  cursor: pointer;
}
header .header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
header .header-nav .header-nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
header .header-nav .header-nav-ul .header-ul-a {
  text-transform: uppercase;
}
header .header-nav .header-btn_escuro, header .header-nav .header-btn_menu {
  font-size: 24px;
  cursor: pointer;
}
header .header-nav .header-btn_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
  }
  header .header-nav .header-btn_menu {
    display: block;
  }
  header .header-nav .header-nav-ul {
    position: absolute;
    display: block;
    height: 0px;
    top: 65px;
    left: 0;
    width: 100vw;
    text-align: center;
    padding: 0px;
    overflow: hidden;
    transition: 0.5s;
  }
  header .header-nav .header-nav-ul .header-ul-a {
    display: block;
    padding: 10px;
  }
}
.inicial {
  padding: 70px 100px 0 40px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inicial .inicial-texto-icons {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 65%;
}
.inicial .inicial-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 125px;
}
.inicial .inicial-icons i {
  font-size: 25px;
  cursor: pointer;
}
.inicial .inicial-texto {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.inicial .inicial-texto #icon-arrow {
  font-size: 40px;
  padding-left: 200px;
}
.inicial .inicial-texto .inicial-texto-titulo {
  font-size: 56px;
}
.inicial .inicial-texto .texto-paragrafo {
  width: 100%;
  font-size: 18px;
}
.inicial .inicial-foto {
  display: block;
  width: 35%;
  height: 85%;
}

main {
  background-color: #ffffff;
}

@media screen and (max-width: 992px) {
  .inicial {
    padding: 70px 50px 0px 20px;
  }
  .inicial .inicial-texto {
    gap: 25px;
  }
  .inicial .inicial-texto .inicial-texto-titulo {
    font-size: 46px;
  }
}
@media screen and (max-width: 768px) {
  .inicial {
    padding: 30px 10px 0px 10px;
  }
  .inicial .inicial-texto-icons {
    width: 100%;
    flex-direction: column;
  }
  .inicial .inicial-icons {
    flex-direction: row;
    width: auto;
  }
  .inicial .inicial-icons i {
    font-size: 35px;
  }
  .inicial .inicial-texto {
    width: 100%;
  }
  .inicial .inicial-texto .inicial-texto-titulo {
    text-align: center;
    width: 100%;
  }
  .inicial .inicial-texto .texto-paragrafo {
    text-align: center;
  }
  .inicial .inicial-texto .btn-inicial {
    margin: 0 auto;
  }
  .inicial .inicial-texto #icon-arrow {
    margin: 0 auto;
    padding: 0;
  }
  .inicial .inicial-foto {
    position: fixed;
    width: 70%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
  }
}
@media screen and (max-height: 569px) {
  .inicial {
    padding: 200px 10px 0px 10px;
  }
}
.sobre-mim {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sobre-mim .sobre-mim_div {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sobre-mim .sobre-mim_div .sobre-mim_img {
  display: block;
  width: 35%;
  min-width: 250px;
}
.sobre-mim .sobre-mim_div .sobre-mim_conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  gap: 40px;
}
.sobre-mim .sobre-mim_div .sobre-mim_conteudo .sobre-mim_subtitulo {
  font-size: 30px;
  padding-bottom: 0;
}
.sobre-mim .sobre-mim_div .sobre-mim_conteudo .sobre-mim_texto {
  width: 100%;
  text-align: justify;
  align-self: flex-start;
}
.sobre-mim .sobre-mim_div .sobre-mim_conteudo .sobre-mim_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 390px;
}
.sobre-mim .sobre-mim_div .sobre-mim_conteudo .sobre-mim_icons .divisao-icons p {
  padding: 5px 0;
  font-size: 14px;
}
.sobre-mim .sobre-mim_div .sobre-mim_conteudo .btn-sobre_mim {
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .sobre-mim .sobre-mim_div {
    justify-content: space-around;
  }
  .sobre-mim .sobre-mim_div .sobre-mim_conteudo {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .sobre-mim .sobre-mim_div {
    justify-content: space-around;
  }
  .sobre-mim .sobre-mim_div .sobre-mim_img {
    display: none;
  }
  .sobre-mim .sobre-mim_div .sobre-mim_conteudo {
    width: 90%;
  }
  .sobre-mim .sobre-mim_div .sobre-mim_conteudo .sobre-mim_icons {
    width: 100%;
    align-self: center;
  }
}
.carrossel-habilidades {
  width: 100%;
  height: 50vh;
  max-height: 350px;
  min-height: 340px;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.carrossel-subtitulo {
  padding-bottom: 0px;
}

.carrossel {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 25vw;
  overflow: hidden;
  padding-bottom: 40px;
}
.carrossel:before, .carrossel:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}
.carrossel:before {
  left: 0;
  top: 10%;
  height: 80%;
}
.carrossel:after {
  right: 0;
  top: 10%;
  height: 80%;
}
.carrossel .carrossel-fluxo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.carrossel .carrossel-fluxo .carrossel-card {
  position: absolute;
  width: 30%;
  max-width: 500px;
  height: 100%;
  transition: 1s all ease;
  border-radius: 10px;
  border: 1px solid #222222;
  background-color: #ffffff;
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.carrossel .carrossel-fluxo .carrossel-card .card-img {
  width: 100px;
}
.carrossel .carrossel-fluxo .carrossel-card .subtitulo-card {
  text-align: center;
}
.carrossel .carrossel-fluxo .carrossel-card .texto-card {
  text-align: center;
  padding: 0 30px;
}
.carrossel .carrossel-fluxo .carrossel-card:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(0.8);
}
.carrossel .carrossel-fluxo .carrossel-card:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(0.8);
}
.carrossel .carrossel-fluxo .carrossel-card:nth-child(3) {
  left: 32.5%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}
.carrossel .carrossel-fluxo .carrossel-card:nth-child(4) {
  left: 68.5%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}
.carrossel .carrossel-fluxo .carrossel-card:nth-child(n+5) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(0.8);
}
.carrossel .carrossel-fluxo .carrossel-card:nth-child(n+6) {
  left: 100%;
  z-index: 1;
  transform: scale(0.8);
}
.carrossel .carrossel-proximo,
.carrossel .carrossel-anterior {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}
.carrossel .carrossel-proximo #btn-proximo, .carrossel .carrossel-proximo #btn-anterior,
.carrossel .carrossel-anterior #btn-proximo,
.carrossel .carrossel-anterior #btn-anterior {
  position: absolute;
  font-size: 30px;
  top: 40%;
  background-color: #f7f7f7;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;
}
.carrossel .carrossel-proximo #btn-proximo,
.carrossel .carrossel-anterior #btn-proximo {
  right: 60%;
}
.carrossel .carrossel-proximo #btn-anterior,
.carrossel .carrossel-anterior #btn-anterior {
  left: 60%;
}
.carrossel .carrossel-anterior {
  left: 0;
}
.carrossel .carrossel-proximo {
  left: 100%;
}

@media screen and (max-width: 1200px) {
  .carrossel .carrossel-fluxo .carrossel-card {
    gap: 10px;
  }
  .carrossel .carrossel-fluxo .carrossel-card .card-img {
    width: 70px;
  }
  .carrossel .carrossel-fluxo .carrossel-card .texto-card {
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 992px) {
  .carrossel .carrossel-fluxo .carrossel-card {
    box-sizing: content-box;
    padding: 10px;
    width: 40%;
  }
  .carrossel .carrossel-fluxo .carrossel-card .texto-card {
    text-align: center;
    padding: 0 5px;
  }
  .carrossel .carrossel-fluxo .carrossel-card:nth-child(3) {
    left: 50%;
  }
  .carrossel .carrossel-fluxo .carrossel-card:nth-child(4) {
    left: 100%;
    z-index: 2;
    transform: translateX(-50%) scale(0.8);
  }
  .carrossel .carrossel-fluxo .carrossel-card:nth-child(n+5) {
    z-index: 1;
    transform: scale(0.8);
  }
  .carrossel .carrossel-fluxo .carrossel-card:nth-child(n+6) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .subtitulo-h3 {
    padding-bottom: 0;
  }
  .carrossel {
    width: 100%;
    height: 300px;
    max-height: 100vh;
  }
  .carrossel .carrossel-fluxo .carrossel-card {
    width: 55%;
    gap: 15px;
  }
  .carrossel .carrossel-fluxo .carrossel-card .card-img {
    width: 70px;
  }
  .carrossel .carrossel-fluxo .carrossel-card .texto-card {
    text-align: center;
    padding: 0 0px;
  }
}
.projetos {
  margin-top: 350px;
  background-color: #ffffff;
}
.projetos .sub-portifolio {
  padding-top: 120px;
}
.projetos .projetos-desenvolvidos {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.projetos .projetos-desenvolvidos .projetos-card {
  width: 250px;
  flex-grow: 1;
  position: relative;
  background-color: black;
  border: 1px solid #222222;
  border-radius: 15px;
}
.projetos .projetos-desenvolvidos .projetos-card .projeto-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 15px;
}
.projetos .projetos-desenvolvidos .projetos-card .btn-projeto {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  display: none;
}
.projetos .projetos-desenvolvidos .projetos-card .btn-projeto:hover {
  background-color: #ffffff;
  color: #3d3d3d;
}

.projeto-dialog {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3490196078);
}
.projeto-dialog .dialog-infos {
  width: 70%;
  height: 70%;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projeto-dialog .dialog-infos .dialog-info-div {
  display: flex;
  padding: 70px 0 70px 70px;
  align-items: center;
  justify-content: center;
}
.projeto-dialog .dialog-infos .dialog-info-div .img-btn-projeto img {
  width: 250px;
  border: 1px solid #222222;
  border-radius: 15px;
}
.projeto-dialog .dialog-infos .dialog-info-div .infos-projeto h3 {
  margin: 30px 0 30px 0;
  text-align: center;
}
.projeto-dialog .dialog-infos .dialog-info-div .infos-projeto p {
  width: 70%;
  text-align: justify;
  margin: 0 auto;
}
.projeto-dialog .dialog-infos .dialog-info-div .infos-projeto .btns-dialog {
  padding: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contato {
  height: 1000px;
}

.contato {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 75px);
  margin-bottom: 30px;
  background-color: #ffffff;
}
.contato .subtitulo-contato {
  padding: 0;
}
.contato .contato-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contato .contato-div .contato-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 400px;
  margin: 30px 0 50px 0;
}
.contato .contato-div .contato-icons .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.contato .contato-div .contato-icons .icons i {
  font-size: 60px;
  cursor: pointer;
}
.contato .contato-div .contato-form {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}
.contato .contato-div .contato-form .input-name-mail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contato .contato-div .contato-form .input-name-mail input {
  width: 49%;
}
.contato .contato-div .contato-form input, .contato .contato-div .contato-form textarea {
  border-bottom: 1px solid #222222;
  width: 100%;
}
.contato .contato-div .contato-form input:focus, .contato .contato-div .contato-form textarea:focus {
  outline: none;
}
.contato .contato-div .contato-form input {
  height: 50px;
}
.contato .contato-div .contato-form textarea {
  resize: none;
  padding-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .contato {
    padding: 30px;
  }
}
@media screen and (max-height: 657px) and (max-width: 992px) {
  .contato {
    padding-top: 150px;
  }
}
#footer {
  background-color: #222222;
}
#footer div {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */